$primary: #1677ff;
$hover-primary: #4096ff;
$active-primary: #0958d9;
$danger-primary: #ff4d4f;
$hover-danger-primary: #ff7875;
$active-danger-primary: #d9363e;
$text-color: rgba(0, 0, 0, 0.88);
$border-color: #d9d9d9;
$active-grey: rgba(0, 0, 0, 0.15);