.tags {
  margin: 0 16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  height: 64px;
  border-bottom: 1px solid #ccc;
  padding-left: 16px;
  .ant-tag {
    height: 24px;
  }
}