.login-box {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .left,
  .right {
    width: 50%;
    height: 100%;
  }

  .left {
    background-color: rgba(32, 128, 240, 0.22);

  }

  .left-top {
    display: flex;
    align-items: center;
    padding: 32px 24px;

    .title {
      color: #5A7294;
      font-size: 32px;
      margin-left: 16px;
    }
  }

  .left-content {
    color: #2080f0;
    font-size: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    .img {
      font-size: 225px;
    }
    .content {
      width: 70%;
      margin-top: 10%;
      text-align: center;
      line-height: 1.5em;
    }
  }

  .right {
    .coll {
      width: 100%;
      display: flex;
      margin-top: 30%;
      justify-content: center;
    }
  }
}